<div class='panel panel-primary' *ngIf='product'>
  <div class='panel-heading' style='font-size:large'>
    {{pageTitle + ': ' + product.productName }}
  </div>

  <div class='panel-body'>
    <div class='row' *ngIf="!editMode">
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-3'>Name:</div>
          <div class='col-md-6'>{{product.productName}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Code:</div>
          <div class='col-md-6'>{{product.productCode}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Description:</div>
          <div class='col-md-6'>{{product.description}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Availability:</div>
          <div class='col-md-6'>{{product.releaseDate}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Price:</div>
          <div class='col-md-6'>{{product.price|currency:'USD':true}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>5 Star Rating:</div>
          <div class='col-md-6'>
            <app-star [rating]='product.starRating'></app-star>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <img class='center-block img-responsive' [style.width.px]='200' [style.margin.px]='2' [src]='product.imageUrl' [title]='product.productName'>
      </div>
    </div>

    <div *ngIf="authService.isLoggedIn && editMode">
      <app-product-form [product]="product" (onDiscardChanges)="onDiscardChanges($event)"></app-product-form>
      <!--<div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" [value]="product.productName" placeholder="Name" [(ngModel)]="editName">
      </div>
      <div class="form-group">
        <label for="name">C</label>
        <input type="text" class="form-control" name="productCode" id="productCode" [value]="product.productCode" placeholder="Code" [(ngModel)]="editCode">
      </div>
      <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" name="description" id="description" [value]="product.description" placeholder="Description" [(ngModel)]="editDescription">
      </div>
      <div class="form-group">
        <label for="name">Release date</label>
        <input type="text" class="form-control" name="releaseDate" id="releaseDate" [value]="product.releaseDate" placeholder="Release date" [(ngModel)]="editReleaseDate">
      </div>
      <div class="form-group">
        <label for="name">Price</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control" name="price" id="price" [value]="product.price" placeholder="Price" [(ngModel)]="editPrice">
        </div>
      </div>
      <div class="form-group">
        <label for="starRating">Rating</label>
        <select class="form-control" name="starRating" id="starRating" [(ngModel)]="editStarRating">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group text-right">
        <button class='btn btn-default' (click)='saveEdit()' *ngIf="authService.isLoggedIn && editMode">
          <i class='glyphicon glyphicon-ok'></i> Save changes
        </button>
        <button class='btn btn-default' (click)='cancelEdit()' *ngIf="authService.isLoggedIn && editMode">
          <i class='glyphicon glyphicon-remove'></i> Discard changes
        </button>
      </div>-->
    </div>
  </div>

  <div class='panel-footer'>
    <div class="row">
      <div class="text-left col-sm-6">
        <a class='btn btn-default' (click)='onBack()'>
          <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
      </div>
      <div class="text-right col-sm-6">
        <a class='btn btn-default' (click)='editProduct()' *ngIf="authService.isLoggedIn && !editMode">
          <i class='glyphicon glyphicon-pencil'></i> Edit
        </a>
      </div>
    </div>
  </div>
</div>