.content-rating {
  width: 86px;
  cursor: pointer;
}

.crop {
  overflow: hidden;
}

.crop-gray {
  position: absolute;
}

.crop-gray .glyphicon-star {
  color: lightgray;
}

.glyphicon-star {
  pointer-events: none;
}